{% extends "base.html" %}
{% block main %}
   <p class="lead text-center">our process</p><hr class="fancy mt-4 mb-5" />
   <p class="text-justify" style="line-height: 1.75;">
      Pick Your Poison is your answer to all questions alcohol. We combine a 
      powerful recommendation engine with an extensive drink database to serve 
      you your top choice of any kind of drink. You'll be able to read reviews 
      from professional sommeliers and cicerones, look for specific flavors and 
      prices, and order the drinks you like the most for home delivery.
   </p>
   <p class="text-justify" style="line-height: 1.75;">
      We know firsthand that it can be a challenge finding the right words to 
      describe your favorite drink, not to mention that the language used by 
      drink vendors and reviewers can vary wildly! That's why we tailor our 
      searches to a list of about 600 descriptors specific to the drink industry 
      to help you streamline the way you look for drinks. Originating from 
      contributions by researchers and drink experts representing places like 
      <a href="https://www.researchgate.net/publication/273780770_Wineinformatics_Applying_Data_Mining_on_Wine_Sensory_Reviews_Processed_by_the_Computational_Wine_Wheel"><u>UCA</u></a>, 
      <a href="https://www.winearomawheel.com/"><u>UC Davis</u></a>, and 
      <a href="https://winefolly.com/tips/wine-aroma-wheel-100-flavors/"><u>Wine Folly</u></a>, 
      this list took the form of tiered wheels useful for standardizing and
      categorizing drink jargon into a usable form.
   </p>
   <br>
   <p><img src="/static/img/aroma_wheel.png" alt="wine aroma wheel" width="100%"/></p>
   <p class="text-center" style="color: rgba(255, 255, 255, .75)">Aroma Wheel</p><br><br>
   <p><img src="/static/img/non_aroma_wheel.png" alt="wine non aroma wheel" width="100%"/></p>
   <p class="text-center" style="color: rgba(255, 255, 255, .75)">Non-Aroma Wheel</p><br><br>
   <p class="text-justify" style="line-height: 1.75;">
      Our ranking process is based off of the descriptions and reviews of every 
      drink in our database. We specifically extract descriptors from the 
      outermost tier of our wheels, the ones you can search with, for as precise 
      a ranking as possible. By training a machine learning model on thousands of 
      these texts and building a vector space for all of our drinks, we've enabled 
      you to find unique matches for the descriptors you're most interested in at 
      instant speed.
   </p>
   <p class="text-justify" style="line-height: 1.75;">
      We hope you've found this insight into our process helpful. 
      Now go practice some safe drinking!
   </p>
   <br>
{% endblock %}
